:root{
    --blanco: #ffffff;
    --primarygreen: #79EAB5; 
    --gray: #F5F5F5;
    --darkgray: #949494;
}

html{
    font-size: 62.5%;/* 1 rem =10px con los comandos inciales necesarios*/

}
body{
    padding: 0%;
    padding-top:;
    margin: 0%;
    font-size: 16px;
    font-family: 'Bitter', serif;

}
.titulo {
    text-align: center;
    font-size: 3rem;
    font-family: 'Silkscreen', cursive;
    font-weight: 400;
}

/*Responsive Adaptation*/
@media (min-width: 768px) {
   .navegacion-principal{
    flex-direction: row;
    justify-content:space-between;
   }
}


.landscape{
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    background-color: red;
    width: 50%;
    
}

.header{
    background-color: red;
    width: 100%;
    height: 50px;
    position: fixed;
    padding: 25px;
    
}

.participantes{

    width: 90px;
    height: 60px;
}

.Luis{
    padding-top: 120px;
}


